.DS_Store
node_modules/
/dist/
# Ignore built ts files
dist/**/*
dev-dist/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.so.*
*.node
digitaltwin
build
package-lock.json
.greenlockrci
publisher/greenlock.d/config.json*
*.log
dev/
build.sh
install.sh
.installed
run.sh
